/* page.scss (Mahreen Qureshi) */
a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style: none;
}

canvas {
    border: 10px solid #d3d3d3;
    background-color: #2dc4bd;
}

body{
    background-color: rgb(94, 5, 121);
    color: white;
}